<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.psl.dao.EqptBoardDao">
	<select id="selectEqptAll" resultType="Map">
		select * from
		SYS_PSL.CSP_BD_UNIT_EQPT t
	</select>
</mapper>