<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jr.proc.pr.dao.ProcDao">

	<!-- 自定义结果集,可以将sql语句查询的Resultset结果集与实体类一一对应 -->
	<resultMap type="com.jr.proc.entity.Proc" id="blob">
		<!-- 用于主键的映射 -->

		<result column="out_err_code" property="outErrCode" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="out_err_desc" property="outErrDesc" javaType="java.lang.String"
			jdbcType="VARCHAR" />

	</resultMap>
	<!-- 针对于不定向条件的查询，关键在于SQL语句的拼接，根据当前实际的参数来拼接SQL -->

	<select id="selectProc" statementType="CALLABLE" parameterMap="blob">
		{call
		t_lbmain.spt_storage_to_ygf(?,?)}
	</select>
	<parameterMap type="java.util.Map" id="blob">
		<parameter property="outErrCode" mode="OUT" jdbcType="VARCHAR" />
		<parameter property="outErrDesc" mode="OUT" jdbcType="VARCHAR" />
	</parameterMap>
</mapper>