<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jr.agreedDelivery.ex.dao.AgreedDao">

	<!-- 自定义结果集,可以将sql语句查询的Resultset结果集与实体类一一对应 -->
	<resultMap type="com.jr.agreedDelivery.entity.Agreed" id="agreed">
		<!-- 用于主键的映射 -->
		<id column="id" property="id" javaType="int" />

		<result column="LOTHEAD5" property="lotHead5" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="CYCLE" property="cycle" javaType="java.lang.Double"
			jdbcType="INTEGER" />
		<result column="YIELD" property="yield" javaType="java.lang.Double"
			jdbcType="INTEGER" />
		<result column="WORKID" property="workId" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="CREATETIME" property="createTime" javaType="java.util.Date"
			jdbcType="DATE" />
		<result column="UPDATETIME" property="updateTime" javaType="java.util.Date"
			jdbcType="DATE" />
	</resultMap>
	<!-- 录入基础数据 -->
	<insert id="saveAgreed" parameterType="com.jr.agreedDelivery.entity.Agreed">
		insert into
		JNBDT.AGREED_DELIVERY
		(LOTHEAD5,CYCLE,YIELD,WORKID,CREATETime)
		VALUES
		(#{lotHead5,jdbcType=VARCHAR},#{cycle,jdbcType=INTEGER},
		#{yield,jdbcType=INTEGER},#{workId,jdbcType=VARCHAR},sysdate)
	</insert>

	<!-- 查询基础数据 -->
	<select id="selBasics" parameterType="java.lang.String"
		resultType="java.util.Map">
		select * from JNBDT.AGREED_DELIVERY where id in (select max(id) from
		JNBDT.AGREED_DELIVERY group by lothead5)
		<if test="lotHead5 != null and lotHead5 !='' ">
			and lotHead5=#{lotHead5,jdbcType=VARCHAR}
		</if>
	</select>

</mapper>