<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>静电袋合袋查询</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="../layui/css/layui.css" media="all">
<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

	<div>
		<button class="layui-btn">
			静电袋合袋查询<span class="layui-badge-dot layui-bg-orange"></span>
		</button>
	</div>
	<hr class="layui-bg-orange">
	<table class="layui-hide" id="test" lay-filter="test"></table>

	<script src="../js/jquery-1.7.2.min.js" charset="utf-8"></script>
	<script src="../psljs/queryBagHe.js" charset="utf-8"></script>
	<script src="../layui/layui.js" charset="utf-8"></script>
	<script src="../layui/layui.all.js" charset="utf-8"></script>
	<script type="text/javascript">
		//点击 确定
	</script>
	<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
</body>
</html>
