<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "file:/C:/mybatis-3-config.dtd">
<configuration>
	<!--核心配置文件 -->
	<settings>
		<setting name="logImpl" value="STDOUT_LOGGING" />
 
		<setting name="defaultExecutorType" value="SIMPLE" />
	</settings>
</configuration>