<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csp.tangh.ex.dao.TanghDao">

	<!-- 自定义结果集,可以将sql语句查询的Resultset结果集与实体类一一对应 -->
	<resultMap type="com.csp.tangh.entity.Tangh" id="Tangh">

		<result column="LOT_ID" property="lotId" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="UNIT_ID" property="unitId" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="NOW_DIE_QTY" property="qty" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="BIN_ID" property="bin" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="lot_Status" property="lotStatus" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="finish_flag" property="finishflag" javaType="java.lang.String"
			jdbcType="VARCHAR" />

	</resultMap>
	<!-- 针对于不定向条件的查询，关键在于SQL语句的拼接，根据当前实际的参数来拼接SQL -->


	<select id="selTangh" resultType="java.lang.String" resultMap="Tangh">
		select * from(SELECT l.lot_id,
		l.create_category,
		c.category_desc,
		l.created_timestamp,
		l.lot_status,
		l.stage_id,
		u.unit_id,
		u.bin_id,
		NO.instance_id,
		NO.instance_desc,
		oper.instance_id AS operation_id,
		oper.instance_desc as real_operation_desc,
		case when t.qty is not null
		then t.qty else CASE WHEN bud.die_qty IS NOT
		NULL THEN bud.die_qty ELSE
		to_number(o.theory_num) -
		nvl(bad.diep_bad_die_qty,0) end end -
		nvl(ubr.sort_die_qty,0) -
		nvl(ftr.tape_die_qty,0) AS now_die_qty
		----理论颗粒数减去数据采集不良数
		FROM lot l,
		unit u,
		named_object NO,
		named_object oper,
		(
		SELECT C.KEY_1_VALUE AS CATEGORY_ID,
		C.DATA_1_VALUE AS CATEGORY_DESC
		FROM REFERENCE_FILE_DETAIL C
		WHERE C.REFERENCE_FILE_RRN=59058
		) C,
		(
		SELECT no.instance_rrn,
		o.attribute_value AS theory_num
		FROM (select *
		from object_attribute_value WHERE field_rrn=4824450) o,
		(select * from
		named_object WHERE OBJECT='PRODUCT') no
		WHERE
		NO.instance_rrn=o.instance_rrn(+)
		) o,
		bin_unit_data bud,
		(
		SELECT
		unit_rrn,
		SUM(VALUE_string) AS diep_bad_die_qty
		FROM
		csp_run_detail@jpcsp
		WHERE project_id IN
		(
		SELECT ID
		FROM
		csp_a_items@jpcsp
		WHERE is_num=1
		)
		and regexp_like(value_string,
		'^[0-9]+$')
		GROUP BY unit_rrn
		) bad,
		(
		select film_id,
		sum(die_qty) as
		tape_die_qty
		from film_tape_relation
		group by film_id
		) ftr, ----已贴带数量
		(
		select unit_id,
		sum(die_qty) as sort_die_qty
		from unit_bin_relation
		group by unit_id
		) ubr , ----已分选数据
		(select * from cnt_unit_qty_info@jp
		where finish_flag=1) t
		WHERE l.lot_rrn=u.lot_rrn
		AND
		l.product_rrn=NO.instance_rrn
		AND l.operation_rrn=oper.instance_rrn
		AND
		l.create_category=c.category_id
		AND l.product_rrn=o.instance_rrn(+)
		and
		u.unit_rrn=bad.unit_rrn(+)
		AND u.unit_id=bud.bin_unit_id(+)
		 and u.unit_id=t.unit_id(+) AND
		 u.unit_id=ftr.film_id(+)
		and u.unit_id=ubr.unit_id(+)
		and
		u.unit_rrn=t.unit_rrn(+)) where lot_id=#{lotId,jdbcType=VARCHAR}
	</select>

	<select id="selTanghQty" resultType="java.lang.String"
		resultMap="Tangh">
		select sum(now_die_qty) as zqty from(SELECT l.lot_id,
		l.create_category,
		c.category_desc,
		l.created_timestamp,
		l.lot_status,
		l.stage_id,
		u.unit_id,
		u.bin_id,
		NO.instance_id,
		NO.instance_desc,
		oper.instance_id AS operation_id,
		oper.instance_desc as
		real_operation_desc,
		case when t.qty is not null
		then t.qty else CASE
		WHEN bud.die_qty IS NOT
		NULL THEN bud.die_qty ELSE
		to_number(o.theory_num) -
		nvl(bad.diep_bad_die_qty,0) end end -
		nvl(ubr.sort_die_qty,0) -
		nvl(ftr.tape_die_qty,0) AS now_die_qty
		----理论颗粒数减去数据采集不良数
		FROM lot l,
		unit u,
		named_object NO,
		named_object oper,
		(
		SELECT C.KEY_1_VALUE AS CATEGORY_ID,
		C.DATA_1_VALUE AS CATEGORY_DESC
		FROM REFERENCE_FILE_DETAIL C
		WHERE C.REFERENCE_FILE_RRN=59058
		) C,
		(
		SELECT no.instance_rrn,
		o.attribute_value AS theory_num
		FROM (select *
		from object_attribute_value WHERE field_rrn=4824450) o,
		(select * from
		named_object WHERE OBJECT='PRODUCT') no
		WHERE
		NO.instance_rrn=o.instance_rrn(+)
		) o,
		bin_unit_data bud,
		(
		SELECT
		unit_rrn,
		SUM(VALUE_string) AS diep_bad_die_qty
		FROM
		csp_run_detail@jpcsp
		WHERE project_id IN
		(
		SELECT ID
		FROM
		csp_a_items@jpcsp
		WHERE is_num=1
		)
		and regexp_like(value_string,
		'^[0-9]+$')
		GROUP BY unit_rrn
		) bad,
		(
		select film_id,
		sum(die_qty) as
		tape_die_qty
		from film_tape_relation
		group by film_id
		) ftr, ----已贴带数量
		(
		select unit_id,
		sum(die_qty) as sort_die_qty
		from unit_bin_relation
		group by unit_id
		) ubr , ----已分选数据
		(select * from cnt_unit_qty_info@jp
		where finish_flag=1) t
		WHERE l.lot_rrn=u.lot_rrn
		AND
		l.product_rrn=NO.instance_rrn
		AND l.operation_rrn=oper.instance_rrn
		AND
		l.create_category=c.category_id
		AND l.product_rrn=o.instance_rrn(+)
		 and u.unit_id=t.unit_id(+)  and
		u.unit_rrn=bad.unit_rrn(+)
		AND u.unit_id=bud.bin_unit_id(+)
		AND
		u.unit_id=ftr.film_id(+)
		and u.unit_id=ubr.unit_id(+)
		and
		u.unit_rrn=t.unit_rrn(+)) where lot_id=#{lotId,jdbcType=VARCHAR}
	</select>

	<select id="selTanghJs" resultType="java.lang.String" resultMap="Tangh">
		select * from (SELECT l.lot_id,
		l.create_category,
		c.category_desc,
		l.created_timestamp,
		l.lot_status,
		l.stage_id,
		u.unit_id,
		u.bin_id,
		NO.instance_id,
		NO.instance_desc,
		oper.instance_id AS operation_id,
		oper.instance_desc as real_operation_desc,
		case when t.qty is not null
		then t.qty else CASE WHEN bud.die_qty IS NOT
		NULL THEN bud.die_qty ELSE
		to_number(o.theory_num) -
		nvl(bad.diep_bad_die_qty,0) end end -
		nvl(ubr.sort_die_qty,0) -
		nvl(ftr.tape_die_qty,0) AS now_die_qty
		----理论颗粒数减去数据采集不良数
		FROM lot l,
		unit u,
		named_object NO,
		named_object oper,
		(
		SELECT C.KEY_1_VALUE AS CATEGORY_ID,
		C.DATA_1_VALUE AS CATEGORY_DESC
		FROM REFERENCE_FILE_DETAIL C
		WHERE C.REFERENCE_FILE_RRN=59058
		) C,
		(
		SELECT no.instance_rrn,
		o.attribute_value AS theory_num
		FROM (select *
		from object_attribute_value WHERE field_rrn=4824450) o,
		(select * from
		named_object WHERE OBJECT='PRODUCT') no
		WHERE
		NO.instance_rrn=o.instance_rrn(+)
		) o,
		bin_unit_data bud,
		(
		SELECT
		unit_rrn,
		SUM(VALUE_string) AS diep_bad_die_qty
		FROM
		csp_run_detail@jpcsp
		WHERE project_id IN
		(
		SELECT ID
		FROM
		csp_a_items@jpcsp
		WHERE is_num=1
		)
		and regexp_like(value_string,
		'^[0-9]+$')
		GROUP BY unit_rrn
		) bad,
		(
		select film_id,
		sum(die_qty) as
		tape_die_qty
		from film_tape_relation
		group by film_id
		) ftr, ----已贴带数量
		(
		select unit_id,
		sum(die_qty) as sort_die_qty
		from unit_bin_relation
		group by unit_id
		) ubr , ----已分选数据
		(select * from cnt_unit_qty_info@jp
		where finish_flag=1) t
		WHERE l.lot_rrn=u.lot_rrn
		AND
		l.product_rrn=NO.instance_rrn
		AND l.operation_rrn=oper.instance_rrn
		 and u.unit_id=t.unit_id(+) AND
		l.create_category=c.category_id
		AND l.product_rrn=o.instance_rrn(+)
		and
		u.unit_rrn=bad.unit_rrn(+)
		AND u.unit_id=bud.bin_unit_id(+)
		 AND
		u.unit_id=ftr.film_id(+)
		and u.unit_id=ubr.unit_id(+)
		and
		u.unit_rrn=t.unit_rrn(+) and l.lot_id=#{lotId,jdbcType=VARCHAR}) u,
		cnt_unit_qty_info@jp g
		where u.unit_id=g.unit_id
	</select>
	<!-- 最终计数颗粒数 -->
	<select id="selTanghJsc" resultType="java.lang.String"
		resultMap="Tangh">
		select sum(qty) as jqty from (SELECT l.lot_id,
		l.create_category,
		c.category_desc,
		l.created_timestamp,
		l.lot_status,
		l.stage_id,
		u.unit_id,
		u.bin_id,
		NO.instance_id,
		NO.instance_desc,
		oper.instance_id AS
		operation_id,
		oper.instance_desc as
		real_operation_desc,
		case when t.qty
		is not null
		then t.qty else CASE
		WHEN bud.die_qty IS NOT
		NULL THEN
		bud.die_qty ELSE
		to_number(o.theory_num) -
		nvl(bad.diep_bad_die_qty,0)
		end end -
		nvl(ubr.sort_die_qty,0) -
		nvl(ftr.tape_die_qty,0) AS
		now_die_qty
		----理论颗粒数减去数据采集不良数
		FROM lot l,
		unit u,
		named_object NO,
		named_object oper,
		(
		SELECT C.KEY_1_VALUE AS CATEGORY_ID,
		C.DATA_1_VALUE
		AS CATEGORY_DESC
		FROM REFERENCE_FILE_DETAIL C
		WHERE
		C.REFERENCE_FILE_RRN=59058
		) C,
		(
		SELECT no.instance_rrn,
		o.attribute_value AS theory_num
		FROM (select *
		from
		object_attribute_value WHERE field_rrn=4824450) o,
		(select * from
		named_object WHERE OBJECT='PRODUCT') no
		WHERE
		NO.instance_rrn=o.instance_rrn(+)
		) o,
		bin_unit_data bud,
		(
		SELECT
		unit_rrn,
		SUM(VALUE_string) AS diep_bad_die_qty
		FROM
		csp_run_detail@jpcsp
		WHERE project_id IN
		(
		SELECT ID
		FROM
		csp_a_items@jpcsp
		WHERE is_num=1
		)
		and regexp_like(value_string,
		'^[0-9]+$')
		GROUP BY unit_rrn
		) bad,
		(
		select film_id,
		sum(die_qty) as
		tape_die_qty
		from film_tape_relation
		group by film_id
		) ftr, ----已贴带数量
		(
		select unit_id,
		sum(die_qty) as sort_die_qty
		from unit_bin_relation
		group by unit_id
		) ubr , ----已分选数据
		(select * from cnt_unit_qty_info@jp
		where finish_flag=1) t
		WHERE l.lot_rrn=u.lot_rrn
		AND
		l.product_rrn=NO.instance_rrn
		AND l.operation_rrn=oper.instance_rrn
		AND
		l.create_category=c.category_id
		AND l.product_rrn=o.instance_rrn(+)
		and
		u.unit_rrn=bad.unit_rrn(+)
		AND u.unit_id=bud.bin_unit_id(+)
	  and u.unit_id=t.unit_id(+)	AND
		u.unit_id=ftr.film_id(+)
		and u.unit_id=ubr.unit_id(+)
		 and
		u.unit_rrn=t.unit_rrn(+) and l.lot_id=#{lotId,jdbcType=VARCHAR}) u,
		(select * from cnt_unit_qty_info@jp where finish_flag=1) g
		where
		u.unit_id=g.unit_id
		group by u.lot_id
	</select>
	<!-- 非最终计数颗粒数 -->
	<select id="selTanghJsc1" resultType="java.lang.String"
		resultMap="Tangh">
		select sum(qty) as fjqty from (SELECT l.lot_id,
		l.create_category,
		c.category_desc,
		l.created_timestamp,
		l.lot_status,
		l.stage_id,
		u.unit_id,
		u.bin_id,
		NO.instance_id,
		NO.instance_desc,
		oper.instance_id AS
		operation_id,
		oper.instance_desc as
		real_operation_desc,
		case when t.qty
		is not null
		then t.qty else CASE
		WHEN bud.die_qty IS NOT
		NULL THEN
		bud.die_qty ELSE
		to_number(o.theory_num) -
		nvl(bad.diep_bad_die_qty,0)
		end end -
		nvl(ubr.sort_die_qty,0) -
		nvl(ftr.tape_die_qty,0) AS
		now_die_qty
		----理论颗粒数减去数据采集不良数
		FROM lot l,
		unit u,
		named_object NO,
		named_object oper,
		(
		SELECT C.KEY_1_VALUE AS CATEGORY_ID,
		C.DATA_1_VALUE
		AS CATEGORY_DESC
		FROM REFERENCE_FILE_DETAIL C
		WHERE
		C.REFERENCE_FILE_RRN=59058
		) C,
		(
		SELECT no.instance_rrn,
		o.attribute_value AS theory_num
		FROM (select *
		from
		object_attribute_value WHERE field_rrn=4824450) o,
		(select * from
		named_object WHERE OBJECT='PRODUCT') no
		WHERE
		NO.instance_rrn=o.instance_rrn(+)
		) o,
		bin_unit_data bud,
		(
		SELECT
		unit_rrn,
		SUM(VALUE_string) AS diep_bad_die_qty
		FROM
		csp_run_detail@jpcsp
		WHERE project_id IN
		(
		SELECT ID
		FROM
		csp_a_items@jpcsp
		WHERE is_num=1
		)
		and regexp_like(value_string,
		'^[0-9]+$')
		GROUP BY unit_rrn
		) bad,
		(
		select film_id,
		sum(die_qty) as
		tape_die_qty
		from film_tape_relation
		group by film_id
		) ftr, ----已贴带数量
		(
		select unit_id,
		sum(die_qty) as sort_die_qty
		from unit_bin_relation
		group by unit_id
		) ubr , ----已分选数据
		(select * from cnt_unit_qty_info@jp
		where finish_flag=1) t
		WHERE l.lot_rrn=u.lot_rrn
		AND
		l.product_rrn=NO.instance_rrn
		AND l.operation_rrn=oper.instance_rrn
		AND
		l.create_category=c.category_id
		AND l.product_rrn=o.instance_rrn(+)
		and
		u.unit_rrn=bad.unit_rrn(+)
		AND u.unit_id=bud.bin_unit_id(+)
		AND
		u.unit_id=ftr.film_id(+)
		and u.unit_id=ubr.unit_id(+)
		 and u.unit_id=t.unit_id(+) and
		u.unit_rrn=t.unit_rrn(+) and l.lot_id=#{lotId,jdbcType=VARCHAR}) u,
		cnt_unit_qty_info@jp g
		where
		u.unit_id=g.unit_id
		group by u.lot_id
	</select>
	<!--查询不在计数内的片子 -->
	<select id="selTanghJsd" resultType="java.lang.String"
		resultMap="Tangh">
		select * from
		(SELECT l.lot_id,
		l.create_category,
		c.category_desc,
		l.created_timestamp,
		l.lot_status,
		l.stage_id,
		u.unit_id,
		u.bin_id,
		NO.instance_id,
		NO.instance_desc,
		oper.instance_id AS
		operation_id,
		oper.instance_desc as real_operation_desc,
		case when t.qty
		is not null
		then t.qty else CASE WHEN bud.die_qty IS NOT
		NULL THEN
		bud.die_qty ELSE
		to_number(o.theory_num) -
		nvl(bad.diep_bad_die_qty,0)
		end end -
		nvl(ubr.sort_die_qty,0) -
		nvl(ftr.tape_die_qty,0) AS
		now_die_qty
		----理论颗粒数减去数据采集不良数
		FROM lot l,
		unit u,
		named_object NO,
		named_object oper,
		(
		SELECT C.KEY_1_VALUE AS CATEGORY_ID,
		C.DATA_1_VALUE
		AS CATEGORY_DESC
		FROM REFERENCE_FILE_DETAIL C
		WHERE
		C.REFERENCE_FILE_RRN=59058
		) C,
		(
		SELECT no.instance_rrn,
		o.attribute_value AS theory_num
		FROM (select *
		from
		object_attribute_value WHERE field_rrn=4824450) o,
		(select * from
		named_object WHERE OBJECT='PRODUCT') no
		WHERE
		NO.instance_rrn=o.instance_rrn(+)
		) o,
		bin_unit_data bud,
		(
		SELECT
		unit_rrn,
		SUM(VALUE_string) AS diep_bad_die_qty
		FROM
		csp_run_detail@jpcsp
		WHERE project_id IN
		(
		SELECT ID
		FROM
		csp_a_items@jpcsp
		WHERE is_num=1
		)
		and regexp_like(value_string,
		'^[0-9]+$')
		GROUP BY unit_rrn
		) bad,
		(
		select film_id,
		sum(die_qty) as
		tape_die_qty
		from film_tape_relation
		group by film_id
		) ftr, ----已贴带数量
		(
		select unit_id,
		sum(die_qty) as sort_die_qty
		from unit_bin_relation
		group by unit_id
		) ubr , ----已分选数据
		(select * from cnt_unit_qty_info@jp
		where finish_flag=1) t
		WHERE l.lot_rrn=u.lot_rrn
		AND
		l.product_rrn=NO.instance_rrn
		AND l.operation_rrn=oper.instance_rrn
		AND
		l.create_category=c.category_id
		AND l.product_rrn=o.instance_rrn(+)
		and
		u.unit_rrn=bad.unit_rrn(+)
		AND u.unit_id=bud.bin_unit_id(+)
		AND
		u.unit_id=ftr.film_id(+)
		and u.unit_id=ubr.unit_id(+)
		and
		u.unit_rrn=t.unit_rrn(+)
		)where lot_id= #{lotId,jdbcType=VARCHAR}
		and
		unit_id not in(select
		unit_id from cnt_unit_qty_info@jp
		where lot_id=
		#{lotId,jdbcType=VARCHAR}
		)
	</select>
	<!--查询在计数内的片子 -->
	<select id="selTanghJsz" resultType="java.lang.String"
		resultMap="Tangh">
		select * from (SELECT l.lot_id,
		l.create_category,
		c.category_desc,
		l.created_timestamp,
		l.lot_status,
		l.stage_id,
		u.unit_id,
		u.bin_id,
		NO.instance_id,
		NO.instance_desc,
		oper.instance_id AS
		operation_id,
		oper.instance_desc as real_operation_desc,
		case when t.qty
		is not null
		then t.qty else CASE WHEN bud.die_qty IS NOT
		NULL THEN
		bud.die_qty ELSE
		to_number(o.theory_num) -
		nvl(bad.diep_bad_die_qty,0)
		end end -
		nvl(ubr.sort_die_qty,0) -
		nvl(ftr.tape_die_qty,0) AS
		now_die_qty
		----理论颗粒数减去数据采集不良数
		FROM lot l,
		unit u,
		named_object NO,
		named_object oper,
		(
		SELECT C.KEY_1_VALUE AS CATEGORY_ID,
		C.DATA_1_VALUE
		AS CATEGORY_DESC
		FROM REFERENCE_FILE_DETAIL C
		WHERE
		C.REFERENCE_FILE_RRN=59058
		) C,
		(
		SELECT no.instance_rrn,
		o.attribute_value AS theory_num
		FROM (select *
		from
		object_attribute_value WHERE field_rrn=4824450) o,
		(select * from
		named_object WHERE OBJECT='PRODUCT') no
		WHERE
		NO.instance_rrn=o.instance_rrn(+)
		) o,
		bin_unit_data bud,
		(
		SELECT
		unit_rrn,
		SUM(VALUE_string) AS diep_bad_die_qty
		FROM
		csp_run_detail@jpcsp
		WHERE project_id IN
		(
		SELECT ID
		FROM
		csp_a_items@jpcsp
		WHERE is_num=1
		)
		and regexp_like(value_string,
		'^[0-9]+$')
		GROUP BY unit_rrn
		) bad,
		(
		select film_id,
		sum(die_qty) as
		tape_die_qty
		from film_tape_relation
		group by film_id
		) ftr, ----已贴带数量
		(
		select unit_id,
		sum(die_qty) as sort_die_qty
		from unit_bin_relation
		group by unit_id
		) ubr , ----已分选数据
		(select * from cnt_unit_qty_info@jp
		where finish_flag=1) t
		WHERE l.lot_rrn=u.lot_rrn
		AND
		l.product_rrn=NO.instance_rrn
		AND l.operation_rrn=oper.instance_rrn
		AND
		l.create_category=c.category_id
		AND l.product_rrn=o.instance_rrn(+)
		and
		u.unit_rrn=bad.unit_rrn(+)
		AND u.unit_id=bud.bin_unit_id(+)
		AND
		u.unit_id=ftr.film_id(+)
		and u.unit_id=t.unit_id(+)
		 and u.unit_id=ubr.unit_id(+)
		and
		u.unit_rrn=t.unit_rrn(+) and l.lot_id=#{lotId,jdbcType=VARCHAR}) u,
		cnt_unit_qty_info@jp g
		where u.unit_id=g.unit_id
	</select>

	<select id="selTanghJstime" resultType="java.lang.String"
		resultMap="Tangh">
		select * from(SELECT l.lot_id,
		l.create_category,
		c.category_desc,
		l.created_timestamp,
		l.lot_status,
		l.stage_id,
		u.unit_id,
		u.bin_id,
		NO.instance_id,
		NO.instance_desc,
		oper.instance_id AS
		operation_id,
		oper.instance_desc as real_operation_desc,
		case when t.qty
		is not null
		then t.qty else CASE WHEN bud.die_qty IS NOT
		NULL THEN
		bud.die_qty ELSE
		to_number(o.theory_num) -
		nvl(bad.diep_bad_die_qty,0)
		end end -
		nvl(ubr.sort_die_qty,0) -
		nvl(ftr.tape_die_qty,0) AS
		now_die_qty
		----理论颗粒数减去数据采集不良数
		FROM lot l,
		unit u,
		named_object NO,
		named_object oper,
		(
		SELECT C.KEY_1_VALUE AS CATEGORY_ID,
		C.DATA_1_VALUE
		AS CATEGORY_DESC
		FROM REFERENCE_FILE_DETAIL C
		WHERE
		C.REFERENCE_FILE_RRN=59058
		) C,
		(
		SELECT no.instance_rrn,
		o.attribute_value AS theory_num
		FROM (select *
		from
		object_attribute_value WHERE field_rrn=4824450) o,
		(select * from
		named_object WHERE OBJECT='PRODUCT') no
		WHERE
		NO.instance_rrn=o.instance_rrn(+)
		) o,
		bin_unit_data bud,
		(
		SELECT
		unit_rrn,
		SUM(VALUE_string) AS diep_bad_die_qty
		FROM
		csp_run_detail@jpcsp
		WHERE project_id IN
		(
		SELECT ID
		FROM
		csp_a_items@jpcsp
		WHERE is_num=1
		)
		and regexp_like(value_string,
		'^[0-9]+$')
		GROUP BY unit_rrn
		) bad,
		(
		select film_id,
		sum(die_qty) as
		tape_die_qty
		from film_tape_relation
		group by film_id
		) ftr, ----已贴带数量
		(
		select unit_id,
		sum(die_qty) as sort_die_qty
		from unit_bin_relation
		group by unit_id
		) ubr , ----已分选数据
		(select * from cnt_unit_qty_info@jp
		where finish_flag=1) t
		WHERE l.lot_rrn=u.lot_rrn
		AND
		l.product_rrn=NO.instance_rrn
		AND l.operation_rrn=oper.instance_rrn
		AND
		l.create_category=c.category_id
		AND l.product_rrn=o.instance_rrn(+)
		and
		u.unit_rrn=bad.unit_rrn(+)
		AND u.unit_id=bud.bin_unit_id(+)
		 and u.unit_id=t.unit_id(+) AND
		u.unit_id=ftr.film_id(+)
		and u.unit_id=ubr.unit_id(+)
		and
		u.unit_rrn=t.unit_rrn(+)) where created_timestamp
		>=TO_DATE(#{startTime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
		and
		created_timestamp &lt;TO_DATE(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd
		hh24:mi:ss')
		and lot_id not in (select
		unit_id from
		cnt_unit_qty_info@jp)
	</select>
</mapper>