<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.POSTEK.ex.dao.PostekDao">

	<!-- 自定义结果集,可以将sql语句查询的Resultset结果集与实体类一一对应 -->
	<resultMap type="com.POSTEK.entity.Postek" id="postek">
		<!-- 其他列映射都是用result -->
		<result column="test" property="test" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="test1" property="test1" javaType="java.lang.String"
			jdbcType="VARCHAR" />
	</resultMap>
	<!-- 上传 -->

	<insert id="save" parameterType="com.POSTEK.entity.Postek">
		insert into
		SYS_PSL.TEST
		(test,test1)
		values(
		#{test,jdbcType=VARCHAR},#{test1,jdbcType=VARCHAR})

	</insert>
</mapper>