<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jr.szham.file.dao.OemListDao">

	<!-- 自定义结果集,可以将sql语句查询的Resultset结果集与实体类一一对应 -->
	<resultMap type="com.jr.szham.entity.OemList" id="myOemList">
		<!-- 用于主键的映射 -->
		<id column="cid" property="cid" javaType="int" />
		<!-- 其他列映射都是用result -->
		<result column="LOTHEAD" property="LOTHEAD" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="STORAGEDESC" property="STORAGEDESC" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="BINID" property="BINID" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="MATERIALNAME" property="MATERIALNAME" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="DIEQTY" property="DIEQTY" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="PCS" property="PCS" javaType="java.lang.String"
			jdbcType="VARCHAR" />

	</resultMap>
	<delete id="del">
		TRUNCATE TABLE T_LBMAIN.T_TMP_OEMLIST
	</delete>

	<!-- 上传 -->
	<insert id="save">
		insert into T_LBMAIN.T_TMP_OEMLIST
		values(#{CID,jdbcType=VARCHAR},#{LOTHEAD,jdbcType=VARCHAR},#{STORAGEDESC,jdbcType=VARCHAR},#{BINID,jdbcType=VARCHAR},
		#{MATERIALNAME,jdbcType=VARCHAR},#{DIEQTY,jdbcType=VARCHAR},#{PCS,jdbcType=VARCHAR})
	</insert>

</mapper>