<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csp.page.dao.DeptDao">
	<resultMap type="com.csp.page.entity.Dept" id="myuser">
		<result column="deptno" property="deptno" javaType="java.lang.Integer"></result>
		<result column="dname" property="dname" javaType="java.lang.String"></result>
		<result column="loc" property="loc" javaType="java.lang.String"></result>
		<result column="startrow" property="startrow" javaType="java.lang.Integer"></result>
		<result column="endrow" property="endrow" javaType="java.lang.Integer"></result>
	</resultMap>
	<!-- 查询所有 -->
	<select id="findAll" resultMap="myuser">
		select * from SYS_PSL.DEPT
	</select>
	<!-- 分页查询 -->
	<select id="findPage" resultMap="myuser" resultType="java.lang.String">
  <![CDATA[
     select * from
     (
       select rownum r,deptno,dname,loc from  SYS_PSL.DEPT
       where rownum<=#{startrow,jdbcType=NUMERIC}
       )d 
      where d.r> #{endrow,jdbcType=NUMERIC}
  ]]>
	</select>
	<!-- 查询总记录数 -->
	<select id="findCount" resultType="Integer">
		select count(*) from
		SYS_PSL.DEPT
	</select>
	<!-- 根据id查询 -->
	<select id="findById" parameterType="int">
		select *
		from
		SYS_PSL.DEPT
		where
		deptno=#{deptno}
	</select>
	<!-- 保存对象 -->
	<insert id="saveDept">
		insert into SYS_PSL.DEPT
		values(#{deptno},#{dname},#{loc})
	</insert>
	<!-- 修改对象 -->
	<update id="updateDept">
		update SYS_PSL.DEPT set
		dname=#{dname},loc=#{loc}
		where
		deptno=#{deptno}
	</update>
	<!-- 根据id删除 -->
	<delete id="deleteById" parameterType="int">
		delete
		from SYS_PSL.DEPT
		where
		deptno=#{deptno}
	</delete>

</mapper>