<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jn.File.export.dao.BatchPrefixDao">

	<!-- 自定义结果集,可以将sql语句查询的Resultset结果集与实体类一一对应 -->
	<resultMap type="com.jn.File.entity.BatchPrefix" id="myBatchPrefix">
		<!-- 用于主键的映射 -->
		<!-- 其他列映射都是用result -->
		<result column="RelationID" property="relationID" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="ProductType" property="productType" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="UnitType" property="unitType" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="UnitSize" property="unitSize" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="UnitElec" property="unitElec" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="RelationVol" property="relationVol" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="ProductID" property="productID" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="K_Flag" property="k_Flag" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="DelQty" property="delQty" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="ModFlag" property="modFlag" javaType="java.lang.String"
			jdbcType="VARCHAR" />

	</resultMap>
	<!-- 针对于不定向条件的查询，关键在于SQL语句的拼接，根据当前实际的参数来拼接SQL -->
	<insert id="save">
		insert into TBLPROFILERELATION_TMP
		values(#{relationID,jdbcType=VARCHAR},#{productType,jdbcType=VARCHAR},#{unitType,jdbcType=VARCHAR},#{unitSize,jdbcType=VARCHAR},
		#{unitElec,jdbcType=VARCHAR},#{relationVol,jdbcType=VARCHAR},#{productID,jdbcType=VARCHAR},
		#{k_Flag,jdbcType=VARCHAR},#{delQty,jdbcType=VARCHAR},#{modFlag,jdbcType=VARCHAR})
	</insert>
	<delete id="delAll">
		TRUNCATE TABLE tblProfileRelation_Tmp
	</delete>
	<select id="verTime" resultType="java.lang.String">
		SELECT DISTINCT
		SUBSTRING(tp.nVolID,CHARINDEX('_',tp.nVolID)+1,255) ver
		FROM
		tblBinRules_Tmp AS tp
	</select>
	<delete id="del">
	delete tpr 
		from tblProfileRelation tpr
		where exists (select 1 
			  from tblProfileRelation_Tmp tprt 
			  where tprt.RelationID=tpr.RelationID)
	</delete>
	<insert id="addBin">
		
		INSERT INTO
		tblProfileRelation
		(relationID,productType,unitType,unitSize,unitElec,relationVol,productID,
		k_Flag,delQty,modFlag)
		SELECT
		relationID,productType,unitType,unitSize,unitElec,relationVol,productID,
		k_Flag,delQty,modFlag FROM tblProfileRelation_Tmp
	</insert>
	<!--单位依旧为K的 -->
	<select id="getFlag" resultMap="myBatchPrefix">
		SELECT *
		FROM
		tblProfileRelation AS tpr
		WHERE
		tpr.k_Flag=1
	</select>
	<!-- 圆片无编码 -->

	<select id="waferFreeCoding" resultMap="myBatchPrefix">
		SELECT *
		FROM
		tblProfileRelation AS tpr
		WHERE tpr.unitType='Circle'
		AND NOT
		EXISTS (SELECT 1 FROM tblProfile AS tp WHERE
		tp.nVolID=tpr.relationVol AND tp.nBin='C')
	</select>
	<!-- 方片无编码 -->
	<select id="squareFreeCoding" resultMap="myBatchPrefix">
		SELECT *
		FROM
		tblProfileRelation AS tpr
		WHERE tpr.unitType='Box'
		AND NOT
		EXISTS
		(SELECT 1 FROM tblProfile AS tp WHERE
		tp.nVolID=tpr.relationVol
		AND tp.nBin!='C')
	</select>
	<!-- 查看是否存在无法找到BIN表的命名规则 -->
	<select id="chackBinName" resultMap="myBatchPrefix">
		SELECT * FROM
		tblProfileRelation AS tpr WHERE NOT EXISTS (SELECT 1 FROM
		tblProfile
		AS tp WHERE tp.nVolID=tpr.relationVol)
	</select>
	<!-- 查看是否存在无法找到参数规则的命名规则 -->
	<select id="chackParaName" resultMap="myBatchPrefix">
		SELECT * FROM
		tblProfileRelation AS tpr WHERE NOT EXISTS (SELECT 1
		FROM
		tblBinRules
		AS tbr WHERE tbr.nVolID=tpr.relationVol) AND
		tpr.unitType='Box'
	</select>
	<!-- 查询返回结果 -->
	<select id="batch" resultMap="myBatchPrefix">
		SELECT  RelationID,
		ProductType, UnitType, UnitSize, UnitElec, RelationVol, ProductID,
		K_Flag,
		DelQty, ModFlag from
		tblProfileRelation WHERE
		RelationID LIKE  #{relationID,jdbcType=VARCHAR} + '%'
	</select>
</mapper>