body{
    font-family:'微软雅黑','Microsoft YaHei';
}
.row {
    width:100%;
}
.row:before,.row:after{
    /*content:" ";
    clear:both;
    display:table;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.col-md-5{
    float:left;
    width:50%;
    position: relative;
    min-height: 1px;
}
.myPrint{
    margin:0;
}
.head-table        {
    width:100%;
    border:1px solid #000000;
}
.table{
    width:100%;
	border:1px solid #000000;
    border-collapse: collapse;
	text-align:center;	
}
.table tr {
    height:30px;
}
.table th,.table td {
	border:1px solid #000000;
    border-collapse: collapse;
	padding:0 2px;
    font-size:14px;
    word-break: break-all;
}

.unit-table tr{
    height:32px;
}
.unit-table th,.unit-table td {
    font-size:12px;
}

.form-control{
    width:60px;
}
.browserInfo{
    font-size:16px;
    color:#ff6a00;
    font-weight:700;
    padding:8px 15px;
    background-color:#efefef;
    margin:0px;
}
.browserInfo:after{
    clear:both;
}
img{
    vertical-align:middle;
}
.wrap {
    table-layout: fixed;
    word-break: break-all;
    overflow: hidden;
}

/*分选后随工单*/
.bin-table tr{
    height:19px;
}
.bin-table th,.bin-table td{
    font-size:12px;
}