<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csp.tanghPailiao.ex.dao.BinUnitDao">

	<resultMap type="com.csp.tanghPailiao.entity.BinUnit" id="cc">
		<!-- 用于主键的映射 -->
		<!-- <id column="id" property="id" javaType="int" /> -->
		<result column="unit_id" property="unitId" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="QTY" property="qty" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="bin_id" property="binId" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="specid" property="specId" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="p_no" property="pno" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="LOTTYPE" property="lotType" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="bdLotId" property="bdLotId" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="spec_id" property="specId" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="bin" property="bin" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="unit_Type" property="unitType" javaType="java.lang.String"
			jdbcType="VARCHAR" />

	</resultMap>

	<insert id="saveBunitShelf" parameterType="java.util.List"
		useGeneratedKeys="false">
		insert into SYS_PSL.CSP_PL_BINUNIT_SHELF
		(lotId,P_NO,CREATETIME,workId)
		<foreach collection="list" item="binUnitList" index="index"
			separator="union all">
			(SELECT
			#{binUnitList.lotId,jdbcType=VARCHAR},
			#{binUnitList.pno,jdbcType=VARCHAR},
			sysdate,
			#{binUnitList.workId,jdbcType=VARCHAR}
			FROM DUAL)
		</foreach>
	</insert>
	<insert id="saveBinUnit" parameterType="java.util.List"
		useGeneratedKeys="false">
		insert into
		SYS_PSL.CSP_PL_BINUNIT_SHELF_GOODS
		(lotId,P_NO,lottype,spec_id,binId,flag,qty,unitId,CREATETIME,workId,unit_Type)
		<foreach collection="list" item="fgShelf" index="index"
			separator="union all">
			(SELECT
			#{fgShelf.lotId,jdbcType=VARCHAR},
			#{fgShelf.pno,jdbcType=VARCHAR},
			#{fgShelf.lotType,jdbcType=VARCHAR},
			#{fgShelf.specId,jdbcType=VARCHAR},
			#{fgShelf.binId,jdbcType=VARCHAR},
			0,
			#{fgShelf.qty,jdbcType=VARCHAR},
			#{fgShelf.unitId,jdbcType=VARCHAR},
			sysdate,
			#{fgShelf.workId,jdbcType=VARCHAR},
			0
			FROM DUAL)
		</foreach>
	</insert>


	<select id="selectBacthByLotId" resultType="Map">
		select * from
		SYS_PSL.CSP_PL_BINUNIT_SHELF where lotid=#{lotId, jdbcType=VARCHAR}
	</select>

	<select id="tailingPutIn" resultType="java.lang.String"
		resultMap="cc">
		select t.p_no pno ,t.lotid,u.spec_id specid,binid ,lottype1
		lottype ,batchLot,qty from
		SYS_PSL.CSP_PL_BINUNIT_SHELF t,
		(select
		substr(lottype,1,2) lottype, binid,flag,spec_id,lottype lottype1
		,lotid batchLot,qty from
		SYS_PSL.CSP_PL_BINUNIT_SHELF_GOODS
		where
		createtime=(select max(createtime) from
		SYS_PSL.CSP_PL_BINUNIT_SHELF_GOODS
		where unitId=#{unitId,
		jdbcType=VARCHAR} and flag=1
		group by unitId)
		and unitId=#{unitId,
		jdbcType=VARCHAR}) u
		where t.flag=0
		and t.lotid=u.lottype
		order by pno
	</select>
	<select id="selectUnitIdByLotId" resultType="java.lang.String"
		resultMap="cc">
		select
		u.UNIT_ID unitId,c.qty qty ,substr(l.lot_id,4,7)
		lotType,d.bin_id binId,substr(spec_id,1,instr(spec_id,'.',-1)-1)
		specId from
		unit@jpmycim2 u,lot@jpmycim2 l,BIN_UNIT_DATA@jpmycim2 d
		,cnt_unit_qty_info@jp c
		where l.lot_rrn=u.lot_rrn
		and l.lot_id
		=#{batchLot}
		and
		d.bin_unit_id=u.UNIT_ID
		and
		c.unit_id=u.UNIT_ID
		and
		l.operation_rrn='12260834'
		and
		l.lot_status='COMPLETED'
		<if test="unitId != null and unitId !='' ">
			and u.UNIT_ID= #{unitId}
		</if>
	</select>
	<select id="selectShelfByLotId" resultType="java.lang.String"
		resultMap="cc">
		select * from ( select rownum odd, t.* from
		SYS_PSL.CSP_PL_BINUNIT_SHELF t
		where p_no like#{0} || '%' and flag =0
		order by p_no) where odd=#{1}
	</select>


	<select id="selectCountByLotId" resultType="java.lang.String"
		resultMap="cc">
		select count(1) maxId from SYS_PSL.CSP_PL_BINUNIT_SHELF
		where p_no like #{lotId,jdbcType=VARCHAR}|| '%' and flag =0
	</select>

	<select id="selectUnitByUnit" resultType="java.lang.String"
		resultMap="cc">
		select * from SYS_PSL.CSP_PL_BINUNIT_SHELF_GOODS WHERE
		unitid=#{0} and flag=0
	</select>

	<select id="selectMaxBdLotId" resultType="java.lang.String">

		select max(bdlotid)
		bdlotid from SYS_PSL.CSP_BD_UNIT_PRO
		where bdlotid
		like
		#{lotId,jdbcType=VARCHAR}|| '%'
	</select>

	<select id="selectBinUnitEqpt" resultType="java.lang.String"
		resultMap="cc">
		select eqpt,status,lotType,id specID,bdLotId,bin
		binId,createtime,sexian from SYS_PSL.CSP_BD_UNIT_EQPT t where eqpt
		like 'AT%'
		<if test="eqpt != null and eqpt !='' ">
			and eqpt= #{eqpt}
		</if>
	</select>

	<update id="updateShelfFlag">
		update SYS_PSL.CSP_PL_BINUNIT_SHELF
		<set>
			set flag=1
		</set>
		WHERE p_no
		<foreach collection="list" item="fgShelf" index="index"
			separator="union all" open="(" close=")">
			(SELECT
			#{fgShelf.pno,jdbcType=VARCHAR}
			FROM DUAL)
		</foreach>
	</update>

	<update id="updateEqpt">
		update sys_psl.csp_bd_unit_eqpt set
		status=1,lottype=#{lotType,jdbcType=VARCHAR},
		bdlotid=#{bdLotId,jdbcType=VARCHAR},bin=#{binId,jdbcType=VARCHAR},
		createtime=sysdate,workid=#{workId,jdbcType=VARCHAR},id=#{specId,jdbcType=VARCHAR}
		where eqpt=#{eqpt,jdbcType=VARCHAR}
	</update>

	<update id="updateUnitStatus" parameterType="java.util.List"
		useGeneratedKeys="false">
		update SYS_PSL.CSP_PL_BINUNIT_SHELF_GOODS
		<set>
			flag='1',flag_type='编带出库',
			outtime=sysdate,outworkid=#{fgShelf.workId,jdbcType=VARCHAR}
		</set>
		where unitid in
		<foreach collection="list" item="fgShelf" index="index"
			separator="union all" open="(" close=")">
			(SELECT
			#{fgShelf.unitId,jdbcType=VARCHAR}
			FROM DUAL)
		</foreach>
	</update>

	<update id="updateShelfStatus" parameterType="java.util.List"
		useGeneratedKeys="false">
		update SYS_PSL.CSP_PL_BINUNIT_SHELF
		<set>
			flag='0'
		</set>
		where p_no in
		<foreach collection="list" item="fgShelf" index="index"
			separator="union all" open="(" close=")">
			(SELECT
			#{fgShelf.pno,jdbcType=VARCHAR}
			FROM DUAL)
		</foreach>
	</update>


	<insert id="saveUnitIdToEqpt" parameterType="java.util.List"
		useGeneratedKeys="false">
		insert into
		sys_psl.csp_bd_unit_pro
		(eqpt,lottype,specid,binid,bdlotid,unitid,qty,CREATETIME,workId)
		<foreach collection="list" item="item" index="index"
			separator="union all">
			(SELECT
			#{item.eqpt,jdbcType=VARCHAR},
			#{item.lotType,jdbcType=VARCHAR},
			#{item.specId,jdbcType=VARCHAR},
			#{item.binId,jdbcType=VARCHAR},
			#{item.bdLotId,jdbcType=VARCHAR},
			#{item.unitId,jdbcType=VARCHAR},
			#{item.qty,jdbcType=VARCHAR},
			sysdate,
			#{item.workId,jdbcType=VARCHAR}
			FROM DUAL)
		</foreach>
	</insert>

	<insert id="saveBinUnitId" parameterType="com.csp.tanghPailiao.entity.BinUnit">
		insert into
		SYS_PSL.CSP_PL_BINUNIT_SHELF_GOODS
		(lotid,p_no,lottype,spec_id,binid,flag,qty,unitid,workId,CREATETIME,unit_type)
		values(
		#{lotId,jdbcType=VARCHAR},
		#{pno,jdbcType=VARCHAR},
		#{lotType,jdbcType=VARCHAR},
		#{specId,jdbcType=VARCHAR},
		#{binId,jdbcType=VARCHAR},
		0,
		#{qty,jdbcType=VARCHAR},
		#{unitId,jdbcType=VARCHAR},
		#{workId,jdbcType=VARCHAR},
		sysdate,#{unitType,jdbcType=VARCHAR})

	</insert>

</mapper>