<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csp.tanghPailiao.ex.dao.EqptDao">

	<!-- 自定义结果集,可以将sql语句查询的Resultset结果集与实体类一一对应 -->
	<resultMap type="com.csp.tanghPailiao.entity.Eqpt" id="eqpt">
		<!-- 用于主键的映射 -->
		<!-- <id column="id" property="id" javaType="int" /> -->
		<result column="EQPTID" property="eqpt" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="object_Type" property="objectType" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="EQPT_ID" property="eqpt" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="STATUS" property="status" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="FGLOTID" property="fgLotId" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="NG_BIN" property="ngBin" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="tape_Id_Flag" property="tapeIdFlag" javaType="java.lang.Integer"
			jdbcType="VARCHAR" />
		<result column="error_msg" property="errorMsg" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="lot_id" property="lotId" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="BAOFEI_BIN" property="baofeiBin" javaType="java.lang.String"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" javaType="java.util.Date"
			jdbcType="VARCHAR" />
		<result column="OBJECT_ID" property="objectId" javaType="java.lang.String"
			jdbcType="VARCHAR" />

	</resultMap>

	<select id="selEqpt" resultType="java.lang.String" resultMap="eqpt">
		select * from SYS_PSL.CSP_FG_EQPT where 1=1

		<if test="status != null and status !='' ">
			and status ='1'
		</if>
		<if test="eqpt != null and eqpt !='' ">
			and eqpt= #{eqpt,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selEqpt1" resultType="java.lang.String" resultMap="eqpt">
		select * from SYS_PSL.CSP_FG_EQPT
	</select>
	<select id="selProduct" resultType="java.lang.String" resultMap="eqpt">
		select * from SYS_PSL.CSP_FG_EQPT_YUPRO
		where 1=1
		<if test="eqpt != null and eqpt !='' ">
			and eqpt= #{eqpt,jdbcType=VARCHAR}
		</if>
		<if test="lotType != null and lotType !='' ">
			and lotType= #{lotType,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selProduct1" resultType="java.lang.String"
		resultMap="eqpt">
		select distinct eqpt from SYS_PSL.CSP_FG_EQPT where status
		is null
	</select>
	<select id="selMaxLabel" resultType="java.lang.String"
		resultMap="eqpt">
		select eqpt, max(label)label,status from
		SYS_PSL.CSP_EQPT_LABEL where
		eqpt =#{eqpt,jdbcType=VARCHAR}
		<if test="label != null and label !='' ">
			AND LABEL LIKE #{label,jdbcType=VARCHAR}||'%'
		</if>
		group by eqpt ,status
	</select>

	<select id="selectP" resultType="java.lang.String" resultMap="eqpt">
		SELECT * FROM SYS_PSL.CSP_LABEL fs,sys_psl.csp_fg_eqptpro o
		where
		fs.barcode=#{bagName,jdbcType=VARCHAR}
		and fs.lotid=o.fglotid
	</select>
	<update id="updateFgEqpt" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		update
		SYS_PSL.CSP_FG_EQPT
		set
		status='1',fgLotId=#{fgLotId,jdbcType=VARCHAR},
		lotType=#{lotType,jdbcType=VARCHAR},
		id=#{id,jdbcType=VARCHAR},
		workId=#{workId,jdbcType=VARCHAR},
		createTime=sysdate,
		SEXIAN=#{sexian,jdbcType=VARCHAR}
		where
		eqpt=#{eqpt,jdbcType=VARCHAR}
	</update>
	<update id="updateGoods" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		update
		SYS_PSL.CSP_PL_FGSHELF_goods set status='3',
		qty=#{qty,jdbcType=VARCHAR},
		jing_weight=#{jingWeight,jdbcType=VARCHAR},
		weight=#{weight,jdbcType=VARCHAR}
		where
		bagname=#{bagName,jdbcType=VARCHAR}
	</update>
	<select id="selDoeqpt" resultType="java.lang.String" resultMap="eqpt">
		select * from SYS_PSL.CSP_FG_EQPT where 1=1
		<if test="status != null and status !='' ">
			and status ='1'
		</if>
		<if test="fgLotId != null and fgLotId !='' ">
			and fgLotId= #{fgLotId,jdbcType=VARCHAR}
		</if>
		<if test="eqpt != null and eqpt !='' ">
			and eqpt= #{eqpt,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="selLot" resultType="java.lang.String" resultMap="eqpt">
		select * from sys_psl.csp_pl_fgshelf_goods where 1=1
		<if test="bagName1 != null and bagName1 !='' ">
			and bagname=#{bagName1,jdbcType=VARCHAR}
		</if>
		<if test="bagName != null and bagName !='' ">
			and bagname= #{bagName,jdbcType=VARCHAR}
		</if>
	</select>
	<delete id="delAll">
		TRUNCATE TABLE SYS_PSL.CSP_FG_EQPT_YUPRO
	</delete>

	<delete id="delBdAll">
		TRUNCATE TABLE SYS_PSL.CSP_BD_EQPT_YUPRO
	</delete>

	<insert id="saveFgYupro" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		insert into
		SYS_PSL.CSP_FG_EQPT_YUPRO
		(EQPT,LOTTYPE,CREATETIME,WORKID,id)
		values(#{eqpt,jdbcType=VARCHAR},
		#{lotHead,jdbcType=VARCHAR},
		sysdate,
		#{workId,jdbcType=VARCHAR},
		#{id,jdbcType=VARCHAR})
	</insert>

	<insert id="savefg" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		insert into
		SYS_PSL.CSP_FG_EQPT
		(EQPT)
		values(#{eqpt,jdbcType=VARCHAR})
	</insert>

	<insert id="saveChkLog" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		insert into
		SYS_PSL.CSP_CHK_LOG
		(EQPT_type,eqpt_id,create_time,error_msg,lot_id)
		values('TAPE',#{eqpt,jdbcType=VARCHAR},sysdate,
		#{errorMsg,jdbcType=VARCHAR},#{lotId,jdbcType=VARCHAR})
	</insert>

	<insert id="savebd" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		insert into
		SYS_PSL.CSP_bd_EQPT
		(EQPT)
		values(#{eqpt,jdbcType=VARCHAR})
	</insert>

	<!-- 生产结束分光批次 -->
	<insert id="savescQing" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		insert into
		sys_psl.csp_pl_scqj
		(fglotid,workid,createtime)
		values(#{fgLotId,jdbcType=VARCHAR},#{workId,jdbcType=VARCHAR},sysdate)
	</insert>

	<select id="selscQing" resultType="java.lang.String" resultMap="eqpt">
		select * from sys_psl.csp_pl_scqj where
		fglotid=#{fgLotId,jdbcType=VARCHAR}
	</select>
	<!-- <select id="selectLotType" resultType="java.lang.String" resultMap="eqpt"> 
		select * from sys_psl.csp_label where barcode=#{bagName,jdbcType=VARCHAR} 
		</select> -->
	<select id="selectFGlotId" resultType="java.lang.String"
		resultMap="eqpt">
		select eqpt,nvl(status,'无')as status,nvl(fglotid,'无') as
		fglotid,nvl(lottype,'无') as lottype,nvl(id,'无')as id from
		sys_psl.csp_fg_eqpt where fglotid not in(
		select fglotid from
		sys_psl.csp_pl_scqj)
	</select>
	<update id="qcQing" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		update
		SYS_PSL.CSP_FG_EQPT
		set
		status='',fgLotId='',
		lotType='',id='',
		workId='',
		createtime='',
		sexian=''
		where
		fgLotId=#{fgLotId,jdbcType=VARCHAR}
	</update>
	<update id="qcQinge" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		update
		SYS_PSL.CSP_EQPT_LABEL
		set
		status='1',
		qingworkid=#{workId,jdbcType=VARCHAR},
		qingtime=sysdate
		where
		label=#{fgLotId,jdbcType=VARCHAR}
	</update>

	<select id="selbdeqpt" resultType="java.lang.String" resultMap="eqpt">
		select * from sys_psl.csp_bd_eqpt where 1=1
		<if test="eqpt != null and eqpt !='' ">
			and eqpt= #{eqpt,jdbcType=VARCHAR}
		</if>
		<if test="bdLotId != null and bdLotId !='' ">
			and bdLotId= #{bdLotId,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="selbdeqpt1" resultType="java.lang.String" resultMap="eqpt">
		select * from sys_psl.csp_bd_eqpt where 1=1 AND LOTTYPE is not null
		<if test="eqpt != null and eqpt !='' ">
			and eqpt= #{eqpt,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selbdeqpt2" resultType="java.lang.String" resultMap="eqpt">
		select to_char(wm_concat(lottype)) as lottype from
		sys_psl.csp_bd_eqpt_yupro
		where eqpt= #{eqpt,jdbcType=VARCHAR}
	</select>

	<select id="selbdeqptyu" resultType="java.lang.String"
		resultMap="eqpt">
		select distinct eqpt from sys_psl.csp_bd_eqpt_yupro
	</select>
	<update id="updateBD" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		update
		sys_psl.csp_bd_eqpt
		set
		status='',bdLotId='',
		lotType='',
		id='',
		bin='',
		sexian='',
		createtime=''
		where
		eqpt=#{eqpt,jdbcType=VARCHAR}
	</update>
	<update id="saveBD" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		update
		sys_psl.csp_bd_eqpt
		set
		status='1',bdLotId=#{bdLotId,jdbcType=VARCHAR},
		lotType=#{lotType,jdbcType=VARCHAR},
		id=#{id,jdbcType=VARCHAR},
		bin=#{bin,jdbcType=VARCHAR},
		sexian=#{sexian,jdbcType=VARCHAR},
		createtime=sysdate
		where
		eqpt=#{eqpt,jdbcType=VARCHAR}
	</update>
	<select id="selEqptLabel" resultType="java.lang.String"
		resultMap="eqpt">
		select eqpt,max(label) as barcode from
		SYS_PSL.CSP_EQPT_LABEL where label like
		#{barcode,jdbcType=VARCHAR}||'%'
		group by
		eqpt
	</select>

	<select id="selectcel" resultType="java.lang.String" resultMap="eqpt">
		SELECT DISTINCT
		LOTHEAD,EACHWEIGHT,ID,BIN,ng_bin as ngBin ,baofei_bin
		as baofeiBin,SEXIAN,BARCODE,QTY,project1 FROM(
		select * from
		sys_psl.csp_calculate where lothead like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select * from
		sys_psl.csp_calculate where ID like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select * from
		sys_psl.csp_calculate where bin like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select * from
		sys_psl.csp_calculate where sexian like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select * from
		sys_psl.csp_calculate where barcode like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%')
		order by LOTHEAD

	</select>
	<select id="selectYuEqpt" resultType="java.lang.String"
		resultMap="eqpt">

		select distinct eqpt, nvl(lottype,'无') lottype ,nvl(id,'无')
		id from(
		select eqpt, lottype ,id from
		sys_psl.csp_fg_eqpt_yupro where
		eqpt like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select eqpt,
		lottype ,id from
		sys_psl.csp_fg_eqpt_yupro where lottype like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select eqpt, lottype ,id
		from
		sys_psl.csp_fg_eqpt_yupro where id like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select eqpt, lottype ,id
		from sys_psl.csp_fg_eqpt
		where eqpt not in
		(select eqpt from
		sys_psl.csp_fg_eqpt_yupro) AND eqpt like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		) order by eqpt

	</select>
	<select id="selectBDYuEqpt" resultType="java.lang.String"
		resultMap="eqpt">

		select distinct eqpt, nvl(lottype,'无') lottype ,nvl(id,'无')
		id from(
		select eqpt, lottype ,id from
		sys_psl.csp_BD_eqpt_yupro where
		eqpt like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select eqpt,
		lottype ,id from
		sys_psl.csp_BD_eqpt_yupro where lottype like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select eqpt, lottype ,id
		from
		sys_psl.csp_BD_eqpt_yupro where id like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select eqpt, lottype ,id
		from sys_psl.csp_BD_eqpt
		where eqpt not in
		(select eqpt from
		sys_psl.csp_BD_eqpt_yupro) AND eqpt like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		) order by eqpt

	</select>
	<select id="selectShelft" resultType="java.lang.String"
		resultMap="eqpt">
		select distinct
		shelfname,caseno,workid,createtime,bagname,status,deposit,bin,qty,lotid
		from(

		select * from SYS_PSL.CSP_PL_FGSHELF_GOODS where shelfname like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select * from
		SYS_PSL.CSP_PL_FGSHELF_GOODS where caseno like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select * from
		SYS_PSL.CSP_PL_FGSHELF_GOODS where bagname like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select * from
		SYS_PSL.CSP_PL_FGSHELF_GOODS where deposit like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select * from
		SYS_PSL.CSP_PL_FGSHELF_GOODS where lotid like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%')
		order by shelfname

	</select>


	<select id="selectEqpt" resultType="java.lang.String" resultMap="eqpt">
		select distinct fglotid,bagname,lottype,id,createtime from (

		select *
		from
		SYS_PSL.CSP_FG_EQPTPRO where fglotid like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select * from
		SYS_PSL.CSP_FG_EQPTPRO where bagname like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select * from
		SYS_PSL.CSP_FG_EQPTPRO where lottype like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		union all
		select * from
		SYS_PSL.CSP_FG_EQPTPRO where id like
		'%'||#{lotHead,jdbcType=VARCHAR}||'%'
		) order by fglotid

	</select>

	<insert id="savefglabel" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		insert into
		sys_psl.CSP_EQPT_label
		(EQPT,label,workId,createtime,LOTTYPE,id)
		values(#{eqpt,jdbcType=VARCHAR},
		#{label,jdbcType=VARCHAR},
		#{workId,jdbcType=VARCHAR},sysdate,#{lotType,jdbcType=VARCHAR},#{id,jdbcType=VARCHAR})
	</insert>

	<select id="selid" resultType="java.lang.String" resultMap="eqpt">
		select * from SYS_PSL.CSP_FG_EQPT where
		fglotId=#{lotId,jdbcType=VARCHAR}
	</select>
	<select id="selSta" resultType="java.lang.String" resultMap="eqpt">
		select * from SYS_PSL.CSP_EQPT_LABEL where status is null
		and
		eqpt=#{eqpt,jdbcType=VARCHAR}
	</select>
	<insert id="savebdyu" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		insert into
		sys_psl.csp_bd_eqpt_yupro
		(EQPT,lottype,createtime,workid,id,bin)
		values(#{eqpt,jdbcType=VARCHAR},
		#{lotHead,jdbcType=VARCHAR},sysdate,
		#{workId,jdbcType=VARCHAR},#{id,jdbcType=VARCHAR},
		#{bin,jdbcType=VARCHAR})
	</insert>
	<!-- 振动盘编带机看板 -->
	<select id="selzdpbd" resultType="java.lang.String" resultMap="eqpt">
		select t.bdlotid,
		t.createtime,
		t.lottype,
		t.id,
		t.bin,
		nvl(kk.qty, 0)
		zongPai,
		nvl(b.taqty, 0) inQty , --总投入
		nvl(k.qty, 0) tapeOutQty, --卷轴产出
		nvl(w.weiliao, 0) weiliao,
		nvl(w.dianji, 0) dianji,
		nvl(w.momian, 0)
		momian,
		nvl(w.diliao, 0) diliao,
		nvl(k.qty, 0) + nvl(w.weiliao, 0) +
		nvl(w.dianji, 0) +
		nvl(w.momian, 0) + nvl(w.diliao, 0) zongQty,

		nvl(kk.qty, 0) -
		(nvl(k.qty, 0) + nvl(w.weiliao, 0) + nvl(w.dianji, 0)
		+
		nvl(w.momian, 0) + nvl(w.diliao, 0)) nowDieQty

		from
		SYS_PSL.CSP_BD_EQPT t,
		(select y.bd_lot_id, sum(u.qty) taqty
		from
		SYS_PSL.CSP_CHK_BAGNAME_INFO y,
		sys_psl.csp_pl_fgshelf_goods u
		where
		y.bag_name = u.bagname
		group by y.bd_lot_id) b,--总投入
		(select sum(qty)
		qty,lot_id from SYS_PSL.CSP_TAPE_CHECK_INFO t where lot_id
		is not null
		group by lot_id --卷轴产出
		) k,
		sys_psl.csp_bd_weiliao w,
		(select y.bdlotid,
		sum(g.qty) as qty
		from (select t.bdlotid, p.bagname
		from
		SYS_PSL.CSP_BD_EQPT t, sys_psl.csp_fg_eqptpro p
		where t.bdlotid =
		p.fglotid(+)
		and t.bdlotid is not null) y,
		sys_psl.csp_pl_fgshelf_goods
		g
		where y.bagname = g.bagname(+)
		group by y.bdlotid) kk
		where t.bdlotid
		is not null
		and t.bdlotid = b.bd_lot_id(+)
		and t.bdlotid = k.lot_id(+)
		and t.bdlotid = w.bdlotid(+)
		and t.bdlotid = kk.bdlotid(+)
		<if test="bdLotId != null and bdLotId !='' ">
			and t.bdlotid like #{bdLotId,jdbcType=VARCHAR} ||'%'
		</if>
		order by t.bdlotid
	</select>
	<!-- 振动盘编带批次号查询 -->
	<select id="selzdpbdLotId" resultType="java.lang.String"
		resultMap="eqpt">
		select odd, bdLotId,
		createtime,
		qcTime,
		lottype,
		id,
		bin,
		zongPai, --总派出
		inQty, --总投入
		tapeOutQty,
		weiliao,
		momian,
		dianji,
		diliao,
		zongQty,
		nowDieQty

		from (select rownum odd, bdLotId,
		createtime,
		qcTime,
		lottype,
		id,
		bin,
		zongPai, --总派出
		inQty, --总投入
		tapeOutQty,
		weiliao,
		momian,
		dianji,
		diliao,
		zongQty,
		nowDieQty

		from (select l.label bdLotId,
		l.createtime,
		l.qingtime
		qcTime,
		l.lottype,
		l.id,
		k.bin,
		nvl(k.zongPai,0) zongPai, --总派出
		nvl(b.taqty, 0) inQty, --总投入
		nvl(e.qty,
		0)tapeOutQty ,
		nvl(w.weiliao,
		0)weiliao,
		nvl(w.momian, 0)
		momian,
		nvl(w.dianji, 0) dianji,
		nvl(w.diliao, 0) diliao,

		nvl(e.qty, 0)+
		nvl(w.weiliao, 0)+
		nvl(w.momian,
		0)+
		nvl(w.dianji, 0)+
		nvl(w.diliao,
		0)zongQty,


		nvl(k.zongPai,0)-(nvl(e.qty, 0)+
		nvl(w.weiliao, 0)+
		nvl(w.momian, 0)+
		nvl(w.dianji, 0)+
		nvl(w.diliao, 0))nowDieQty

		from
		sys_psl.csp_eqpt_label
		l,
		(select p.fglotid, sum(qty) zongPai, p.bin
		from
		sys_psl.csp_fg_eqptpro p, sys_psl.csp_pl_fgshelf_goods g
		where
		p.bagname = g.bagname(+)
		group by p.fglotid, p.bin) k,
		(select sum(qty)
		qty,lot_id from SYS_PSL.CSP_TAPE_CHECK_INFO t where lot_id
		is not null
		group by lot_id --卷轴产出
		) e,
		(select y.bd_lot_id, sum(u.qty) taqty
		from
		SYS_PSL.CSP_CHK_BAGNAME_INFO y,
		sys_psl.csp_pl_fgshelf_goods u
		where
		y.bag_name = u.bagname
		group by y.bd_lot_id) b,
		sys_psl.csp_bd_weiliao w
		where l.label = k.fglotid(+)
		and l.label like 'SM%'
		and l.label =
		w.bdlotid(+)
		and l.label = b.bd_lot_id(+)
		and l.label = e.lot_id(+)
		<if test="bdLotId != null and bdLotId !='' ">
			and l.label like #{bdLotId,jdbcType=VARCHAR} ||'%'
		</if>
		<if test="id != null and id !='' ">
			AND
			l.createtime>=TO_DATE(#{startTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')
			AND
			l.createtime&lt;TO_DATE(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')+1
		</if>
		<if test="lotType != null and lotType !='' ">
			AND
			l.qingtime>=TO_DATE(#{startTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')
			AND
			l.qingtime&lt;TO_DATE(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')+1
		</if>
		order by l.createTime desc))
		where 1=1
		<if test="barcode != null and barcode !='' ">
			AND
			odd
			>#{startTime,jdbcType=VARCHAR}
			AND
			odd&lt;=#{endTime,jdbcType=VARCHAR}
		</if>
	</select>

	<!-- 振动盘编带投入明细（静电袋） -->
	<select id="selTouRu" resultType="java.lang.String" resultMap="eqpt">
		select odd,
		createtime,
		bdLotId,
		pailiaoTime,
		bagName,
		lotType,
		id,
		bin,
		qty,
		inputTime,
		inputStatus
		from (select rownum odd,
		createtime,
		bdLotId,
		pailiaoTime,
		bagName,
		lotType,
		id,
		bin,
		qty,
		inputTime,
		inputStatus
		from
		(select
		l.createtime,
		l.label as bdLotId,
		p.createtime as pailiaoTime,
		p.bagName,
		l.lotType,
		l.id,
		p.bin,
		g.qty as qty,
		i.create_time as
		inputTime,
		case when i.create_time is null then '待投入' else '已投入' end as
		inputStatus
		from sys_psl.csp_eqpt_label l,
		sys_psl.csp_fg_eqptpro p,
		sys_psl.csp_pl_fgshelf_goods g,
		sys_psl.csp_chk_bagname_info i
		where
		l.label=p.fglotid(+)
		and p.bagname=g.bagname(+)
		and
		p.bagname=i.bag_name(+)
		and l.label like 'SM%'
		<if test="bdLotId != null and bdLotId !='' ">
			AND
			l.createtime>=TO_DATE(#{startTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')
			AND
			l.createtime&lt;TO_DATE(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')+1
		</if>
		<if test="lotType != null and lotType !='' ">
			AND
			i.create_time>=TO_DATE(#{startTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')
			AND
			i.create_time&lt;TO_DATE(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')+1
		</if>
		<if test="id != null and id !='' ">
			AND
			i.finish_time>=TO_DATE(#{startTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')
			AND
			i.finish_time&lt;TO_DATE(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')+1
		</if>
		order by l.createtime
		desc,p.createtime desc)) where 1=1
		<if test="barcode != null and barcode !='' ">
			AND
			odd
			>#{startTime,jdbcType=VARCHAR}
			AND
			odd&lt;=#{endTime,jdbcType=VARCHAR}
		</if>
	</select>

	<!-- 分光投入明细 -->
	<select id="fgTouRu" resultType="java.lang.String" resultMap="eqpt">
		select odd ,createtime,fgLotId ,pailiaoTime,bagName
		,lotType,id,qty,inputTime,inputStatus from(select rownum odd
		,createtime,fgLotId ,pailiaoTime,bagName
		,lotType,id,qty,inputTime,inputStatus from(select
		l.createtime,
		l.label
		as fgLotId,
		p.createtime as pailiaoTime,
		p.bagName,
		l.lotType,
		l.id,
		g.qty
		as qty,
		i.create_time as
		inputTime,
		case
		when i.create_time is null then
		'待投入' else '已投入' end as
		inputStatus
		from sys_psl.csp_eqpt_label l,
		sys_psl.csp_fg_eqptpro p,
		sys_psl.csp_pl_fgshelf_goods g,
		sys_psl.csp_chk_fg_info i
		where
		l.label=p.fglotid(+)
		and
		p.bagname=g.bagname(+)
		and
		p.bagname=i.bagname(+)
		and l.label like 'FG%'
		<if test="bagName != null and bagName !='' ">
			AND
			l.createtime>=TO_DATE(#{startTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')
			AND
			l.createtime&lt;TO_DATE(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')+1
		</if>
		<if test="lotType != null and lotType !='' ">
			AND p.createtime
			>=TO_DATE(#{startTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')
			AND
			p.createtime &lt;TO_DATE(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')+1
		</if>
		<if test="bdLotId != null and bdLotId !='' ">
			AND
			i.create_time>=TO_DATE(#{startTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')
			AND
			i.create_time&lt;TO_DATE(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')+1
		</if>
		order by l.createtime
		desc,p.createtime desc))
		where 1=1
		<if test="barcode != null and barcode !='' ">
			AND
			odd
			>#{startTime,jdbcType=VARCHAR}
			AND
			odd&lt;=#{endTime,jdbcType=VARCHAR}
		</if>

	</select>

	<!-- 振动盘编带投入明细（静电袋）输入条件查询 -->
	<select id="selTouRuTJ" resultType="java.lang.String" resultMap="eqpt">
		select odd,bdlotid,createtime,bagname,pailiaotime,lottype,
		id,
		bin,
		qty,
		inputtime,
		inputstatus from (select rownum
		odd,bdlotid,createtime,bagname,pailiaotime,lottype,
		id,
		bin,
		qty,
		inputtime,
		inputstatus from(select * from( select distinct createtime,
		bdlotid,
		pailiaotime,
		bagname,
		lottype,
		id,
		bin,
		qty,
		inputtime,
		inputstatus
		from
		(select *
		from
		(select l.createtime,
		l.label as bdLotId,
		p.createtime
		as
		pailiaoTime,
		p.bagName,
		l.lotType,
		l.id,
		p.bin,
		g.qty as qty,
		i.create_time
		as
		inputTime,
		case
		when
		i.create_time is null then
		'待投入'
		else
		'已投入'
		end as
		inputStatus
		from
		sys_psl.csp_eqpt_label l,
		sys_psl.csp_fg_eqptpro p,
		sys_psl.csp_pl_fgshelf_goods g,
		sys_psl.csp_chk_bagname_info i
		where
		l.label = p.fglotid(+)
		and p.bagname
		= g.bagname(+)
		and p.bagname =
		i.bag_name(+)
		and l.label like 'SM%'
		and
		l.label like '%'||
		#{eqpt,jdbcType=VARCHAR} || '%'
		)
		union all
		select *
		from (select
		l.createtime,
		l.label as bdLotId,
		p.createtime as
		pailiaoTime,
		p.bagName,
		l.lotType,
		l.id,
		p.bin,
		g.qty as qty,
		i.create_time
		as inputTime,
		case
		when
		i.create_time is null then
		'待投入'
		else
		'已投入'
		end as
		inputStatus
		from
		sys_psl.csp_eqpt_label l,
		sys_psl.csp_fg_eqptpro p,
		sys_psl.csp_pl_fgshelf_goods g,
		sys_psl.csp_chk_bagname_info i
		where
		l.label = p.fglotid(+)
		and
		p.bagname = g.bagname(+)
		and p.bagname =
		i.bag_name(+)
		and l.label like
		'SM%'
		and p.bagName like '%'||
		#{eqpt,jdbcType=VARCHAR} || '%'
		)
		union
		all
		select *
		from (select
		l.createtime,
		l.label as
		bdLotId,
		p.createtime
		as pailiaoTime,
		p.bagName,
		l.lotType,
		l.id,
		p.bin,
		g.qty as qty,
		i.create_time as inputTime,
		case
		when
		i.create_time is
		null then
		'待投入'
		else
		'已投入'
		end as inputStatus
		from
		sys_psl.csp_eqpt_label
		l,
		sys_psl.csp_fg_eqptpro p,
		sys_psl.csp_pl_fgshelf_goods g,
		sys_psl.csp_chk_bagname_info i
		where
		l.label = p.fglotid(+)
		and
		p.bagname = g.bagname(+)
		and p.bagname =
		i.bag_name(+)
		and l.label like
		'SM%'
		and l.lotType like '%'||
		#{eqpt,jdbcType=VARCHAR} || '%'
		)
		union
		all
		select *
		from (select
		l.createtime,
		l.label as
		bdLotId,
		p.createtime
		as pailiaoTime,
		p.bagName,
		l.lotType,
		l.id,
		p.bin,
		g.qty as qty,
		i.create_time as inputTime,
		case
		when
		i.create_time is
		null then
		'待投入'
		else
		'已投入'
		end as inputStatus
		from
		sys_psl.csp_eqpt_label
		l,
		sys_psl.csp_fg_eqptpro p,
		sys_psl.csp_pl_fgshelf_goods g,
		sys_psl.csp_chk_bagname_info i
		where
		l.label = p.fglotid(+)
		and
		p.bagname = g.bagname(+)
		and p.bagname =
		i.bag_name(+)
		and l.label like
		'SM%'
		and l.id like '%'||
		#{eqpt,jdbcType=VARCHAR} || '%'
		)))
		order by
		createtime desc)) where
		odd>#{startTime,jdbcType=VARCHAR}
		AND
		odd&lt;=#{endTime,jdbcType=VARCHAR}
	</select>
	<!-- 振动盘编带投入明细（卷轴） -->
	<select id="selTouRu2" resultType="java.lang.String" resultMap="eqpt">
		select * from (select rownum odd,
		createtime,bdlotid,pailiaoTime,barcode, lottype,
		id,
		bin,
		qty,

		inputTime,inputStatus
		from( select
		l.createtime,
		l.label as bdLotId,
		i.create_time as
		pailiaoTime,
		i.tape_id as barcode,
		l.lottype,
		l.id,
		f.bin,
		i.qty,
		i.finish_time as
		inputTime,
		case when i.finish_time is not
		null then
		'已产出' when
		i.create_time is not
		null then '已投入' else '待投入'
		end
		inputStatus
		-- case
		-- when i.create_time is not null then '已投入'
		--else'待投入'
		-- end
		--inputStatus
		from
		sys_psl.csp_eqpt_label l,
		sys_psl.csp_tape_check_info
		i,
		(
		select
		fglotid,
		max(bin) as bin
		from
		sys_psl.csp_fg_eqptpro
		group by
		fglotid
		) f
		where l.label=i.lot_Id(+)
		and
		l.label=f.fglotid(+)
		and l.label
		not like
		'FG%'

		<if test="bdLotId != null and bdLotId !='' ">
			AND
			l.createtime>=TO_DATE(#{startTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')
			AND
			l.createtime&lt;TO_DATE(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')+1
		</if>
		<if test="lotType != null and lotType !='' ">
			AND
			i.create_time>=TO_DATE(#{startTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')
			AND
			i.create_time&lt;TO_DATE(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')+1
		</if>
		<if test="id != null and id !='' ">
			AND
			i.finish_time>=TO_DATE(#{startTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')
			AND
			i.finish_time&lt;TO_DATE(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')+1
		</if>

		order by l.createtime desc,i.create_time desc))
		where 1=1
		<if test="barcode != null and barcode !='' ">
			AND
			odd>#{startTime,jdbcType=VARCHAR}
			AND
			odd&lt;=#{endTime,jdbcType=VARCHAR}
		</if>


	</select>
	<!-- 振动盘编带投入明细（卷轴） -->
	<select id="selTouRu2TJ" resultType="java.lang.String"
		resultMap="eqpt">
		select * from( select rownum odd ,t.* from ( select * from( select
		l.createtime,
		l.label as bdLotId,
		i.create_time as pailiaoTime,
		i.tape_id as barcode,
		l.lottype,
		l.id,
		f.bin,
		i.qty,
		i.finish_time as
		inputTime,
		case
		when i.finish_time is not null then
		'已产出'
		when
		i.create_time is not null then
		'已投入'
		else
		'待投入'
		end inputStatus
		from
		sys_psl.csp_eqpt_label l,
		sys_psl.csp_tape_check_info i,
		(select
		fglotid, max(bin) as bin
		from sys_psl.csp_fg_eqptpro
		group by fglotid) f
		where l.label = i.lot_Id(+)
		and l.label = f.fglotid(+)
		and l.label not
		like 'FG%'
		order by l.createtime desc, i.create_time desc)
		where bdlotid
		like ''
		union all
		select * from( select l.createtime,
		l.label as bdLotId,
		i.create_time as pailiaoTime,
		i.tape_id as barcode,
		l.lottype,
		l.id,
		f.bin,
		i.qty,
		i.finish_time as inputTime,
		case
		when i.finish_time is not
		null then
		'已产出'
		when i.create_time is not null then
		'已投入'
		else
		'待投入'
		end
		inputStatus
		from sys_psl.csp_eqpt_label l,
		sys_psl.csp_tape_check_info
		i,
		(select fglotid, max(bin) as bin
		from sys_psl.csp_fg_eqptpro
		group by
		fglotid) f
		where l.label = i.lot_Id(+)
		and l.label = f.fglotid(+)
		and
		l.label not like 'FG%'
		order by l.createtime desc, i.create_time desc)
		where barcode like '%'||#{eqpt,jdbcType=VARCHAR}||'%'
		union all
		select *
		from( select l.createtime,
		l.label as bdLotId,
		i.create_time as
		pailiaoTime,
		i.tape_id as barcode,
		l.lottype,
		l.id,
		f.bin,
		i.qty,
		i.finish_time as inputTime,
		case
		when i.finish_time is not null then
		'已产出'
		when i.create_time is not null then
		'已投入'
		else
		'待投入'
		end inputStatus
		from sys_psl.csp_eqpt_label l,
		sys_psl.csp_tape_check_info i,
		(select
		fglotid, max(bin) as bin
		from sys_psl.csp_fg_eqptpro
		group by fglotid) f
		where l.label = i.lot_Id(+)
		and l.label = f.fglotid(+)
		and l.label not
		like 'FG%'
		order by l.createtime desc, i.create_time desc)
		where lottype
		like '%'||#{eqpt,jdbcType=VARCHAR}||'%'
		union all
		select * from( select
		l.createtime,
		l.label as bdLotId,
		i.create_time as pailiaoTime,
		i.tape_id as barcode,
		l.lottype,
		l.id,
		f.bin,
		i.qty,
		i.finish_time as
		inputTime,
		case
		when i.finish_time is not null then
		'已产出'
		when
		i.create_time is not null then
		'已投入'
		else
		'待投入'
		end inputStatus
		from
		sys_psl.csp_eqpt_label l,
		sys_psl.csp_tape_check_info i,
		(select
		fglotid, max(bin) as bin
		from sys_psl.csp_fg_eqptpro
		group by fglotid) f
		where l.label = i.lot_Id(+)
		and l.label = f.fglotid(+)
		and l.label not
		like 'FG%'
		order by l.createtime desc, i.create_time desc)
		where id like
		'%'||#{eqpt,jdbcType=VARCHAR}||'%'


		union all
		select * from( select
		l.createtime,
		l.label as bdLotId,
		i.create_time as pailiaoTime,
		i.tape_id as barcode,
		l.lottype,
		l.id,
		f.bin,
		i.qty,
		i.finish_time as
		inputTime,
		case
		when i.finish_time is not
		null then
		'已产出'
		when
		i.create_time is not null then
		'已投入'
		else
		'待投入'
		end
		inputStatus
		from
		sys_psl.csp_eqpt_label l,
		sys_psl.csp_tape_check_info i,
		(select
		fglotid, max(bin) as bin
		from sys_psl.csp_fg_eqptpro
		group by
		fglotid) f
		where l.label = i.lot_Id(+)
		and l.label = f.fglotid(+)
		and
		l.label not
		like 'FG%'
		order by l.createtime desc, i.create_time desc)
		where bdlotid
		like
		'%'||#{eqpt,jdbcType=VARCHAR}||'%'

		)t)where 1=1
		<if test="barcode != null and barcode !='' ">
			and
			odd
			>#{startTime,jdbcType=VARCHAR}
			AND
			odd&lt;=#{endTime,jdbcType=VARCHAR}</if>

	</select>
	<select id="selWei" resultType="java.lang.String" resultMap="eqpt">
		select * from SYS_PSL.CSP_BD_WEILIAO where
		bdlotid=#{bdLotId,jdbcType=VARCHAR}
	</select>
	<select id="selLotId" resultType="java.lang.String" resultMap="eqpt">
		select * from SYS_PSL.CSP_FG_EQPTPRO where
		fgLotId=#{fgLotId,jdbcType=VARCHAR}
	</select>
	<update id="qcbdEqptQing" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		update
		SYS_PSL.CSP_BD_EQPT set
		status='',lottype='',id='',bdlotid='',bin='',createtime=''
		where
		bdLotId=#{bdLotId,jdbcType=VARCHAR}
	</update>

	<select id="selCheckInfo" resultType="java.lang.String"
		resultMap="eqpt">
		select * from SYS_PSL.CSP_TAPE_CHECK_INFO t where
		lot_id=#{bdLotId,jdbcType=VARCHAR}
	</select>

	<select id="selCheckBag" resultType="java.lang.String"
		resultMap="eqpt">
		select bagname from SYS_PSL.CSP_fg_eqptpro where bagname not
		in(select
		bagname from SYS_PSL.CSP_CHK_BAGNAME_INFO where
		bd_lot_id=#{bdLotId,jdbcType=VARCHAR})
		and fglotid=#{bdLotId,jdbcType=VARCHAR}
	</select>

	<select id="selCheckBagQc" resultType="java.lang.String"
		resultMap="eqpt">
		select
		* from SYS_PSL.CSP_CHK_BAGNAME_INFO where
		bd_lot_id=#{bdLotId,jdbcType=VARCHAR}
	</select>

	<insert id="saveWeiLiao" parameterType="com.csp.tanghPailiao.entity.Eqpt">
		insert into
		SYS_PSL.CSP_BD_WEILIAO
		(bdLotId,weiliao,momian,dianji,diliao,WORKID,createtime,REMARK)
		values(#{bdLotId,jdbcType=VARCHAR},
		#{weiliao,jdbcType=VARCHAR},#{momian,jdbcType=VARCHAR},
		#{dianji,jdbcType=VARCHAR},#{diliao,jdbcType=VARCHAR},
		#{workId,jdbcType=VARCHAR},sysdate,#{remark,jdbcType=VARCHAR})
	</insert>
	<!-- 编带错误日志 -->
	<select id="bdcheckLog" resultType="java.lang.String" resultMap="eqpt">
		select odd,eqpt_type,
		eqpt_id,
		object_id,
		create_time,
		error_msg,
		lot_id,
		object_type,
		tape_id_flag,


		xiangmu from(select rownum
		odd,eqpt_type,
		eqpt_id,
		object_id,
		create_time,
		error_msg,
		lot_id,
		object_type,
		tape_id_flag,


		xiangmu from( select distinct eqpt_type,
		eqpt_id,
		object_id,
		create_time,
		error_msg,
		lot_id,
		object_type,
		tape_id_flag,

		-- finish_time,
		xiangmu from(select distinct eqpt_type,
		eqpt_id,
		object_id,
		cratett create_time,
		error_msg,
		lot_id,
		object_type,
		tape_id_flag,

		finish_time,
		xiangmu from(select
		distinct
		t.eqpt_type,
		t.eqpt_id,
		t.object_id,
		t.create_time cratett,
		t.error_msg,
		t.lot_id,
		t.object_type,
		f.tape_id_flag,
		f.create_time,
		f.finish_time,
		case when
		t.create_time between
		f.create_time and
		f.finish_time then
		'下卷轴'
		when
		f.create_time is null
		then '上卷轴' else '下卷轴'
		end as xiangmu
		from
		SYS_PSL.CSP_CHK_LOG t,
		SYS_PSL.CSP_TAPE_CHECK_INFO f
		where
		eqpt_type =
		'TAPE'
		and
		t.LOT_ID=f.LOT_ID(+)
		<if test="id != null and id !='' ">
			AND
			f.create_time>=TO_DATE(#{startTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')
			AND
			f.create_time&lt;TO_DATE(#{endTime,jdbcType=VARCHAR},'yyyy-mm-dd
			hh24:mi:ss')+1
		</if>
		ORDER BY t.CREATE_TIME )ORDER BY CREATE_TIME desc
		) where 1=1

		order by create_time desc))where 1=1
		<if test="barcode != null and barcode !='' ">
			AND
			odd
			>#{startTime,jdbcType=VARCHAR}
			AND
			odd&lt;=#{endTime,jdbcType=VARCHAR}</if>
	</select>
	<!-- 分光错误日志 -->
	<select id="fgcheckLog" resultType="java.lang.String" resultMap="eqpt">
		select odd,bagName, CREATE_time ,error_msg,lot_id from( select rownum
		odd,bagName, CREATE_time ,error_msg,lot_id from(SELECT OBJECT_ID AS
		bagName, CREATE_time ,error_msg,lot_id from
		SYS_PSL.CSP_CHK_LOG where
		eqpt_type='FG'
		ORDER BY CREATE_TIME DESC)) where 1=1
		<if test="barcode != null and barcode !='' ">
			AND
			odd
			>#{startTime,jdbcType=VARCHAR}
			AND
			odd&lt;=#{endTime,jdbcType=VARCHAR}
		</if>
	</select>
</mapper>